@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin : 0px ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/*colors and styling*/
:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor:#fff;
    --gradinatcolor: linear-gradient(to right, hsl(187,85%, 43%), hsl(199, 100%, 32%)) ;
    --whitecolor: hsl(0, 0%, 100%);
    --blackColor: Ohs1 (201, 33%, 16%);
    --textColor: Ohs1(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: Irgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: Irgb(225, 225, 235);
}
a{
text-decoration: none;
}
li{
    list-style: none;
}
.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon{
    font-size: 2rem;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}
.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    background: var(--gradinatcolor);
    color: var(--SecondaryColor);
}
.btn a{
    color: var(--whiteColor);
    font-weight: 500;
  

}
.btn:hover{
    /*background: var(--SecondaryColor);*/
}
.btn:hover a{
    color: var(--blackColor);
}
.btn-outline{
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    background: transparent;
    border: 1px solid var(--PrimaryColor);
}
img, video{
    width: 100%;
    height: auto;
}
input{
    font-size:  100%;
}
.body {
    background: var(--bodyColor);
}
